<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.mytho.role">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        tools:replace="android:allowBackup"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="br.com.mytho.role.app.RoleAppApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.PictureActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.EventActivity" />
        </activity>
        <activity android:name=".activity.EventActivity"></activity>



    </application>

</manifest>